
h1 {
  font-size: 45px;
  color:rgb(182, 17, 72);
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}
.mainapp{
  border:10px double rgb(221, 22, 122);
  background-color: rgb(253, 234, 62);
  text-align: center;
  padding-bottom: 10px;
  width:60%;
  margin-left: 270px;
  margin-top: 270px;
  color:purple;
}
button{
  width: 100px;
  height:30px;
  border-radius: 25%;
  background-color: greenyellow;
  color:rgb(6, 18, 182);
  font-size: 1rem;
}